.container hr {
	width: 200px;
	border-top: 4px solid #666;
}
section {
	min-height: 500px;
	padding: 40px;
}
.portofolio {
	background-color: #eee;
	margin-top: 56px;
}
#app {
	margin-top: 56px;
}
footer {
	background-color: #333;
	width: 100%;
	padding: 15px 0;
}
footer p {
	color: #ccc;
	line-height: 30px;
	margin: 0;
}

body { 
    padding-top: 100px; 
}
.img-box {
  position: relative;
  width: 100%;
  height: 400px;
  background-color; green;
  float: left;
}

.image {
  object-fit: cover;
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image-detail {
	height: 500px;
}
.image-shows {
	height: 500px;
}
.detail-head {
	height: 50px;
	line-height: 50px;
	border-bottom: 2px solid gray;
}
.detail-comment {
	height: 400px;
	overflow: auto;
}
.comment-send {
	height: 50px;
	display: flex;
}
.post-comment {
	flex: 1 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.post-btn {
	border: none;
    border-top: 1px solid lightgray;
    color: #6082a3;
    background-color: transparent;
    flex: 0 1;
}
.row {
	grid-row-gap: 50px;
}
.post-header {
	display: flex;
    align-items: center;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.post-avatar {
	width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
	background-color: gray;
	margin-right: 10px;
}
.post-border {
	border: 1px solid lightgray;
	margin-bottom: 50px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.img-box:hover .image {
  opacity: 0.3;
}

.img-box:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  line-height: 400px;
  padding: 16px 32px;
  width: 100%;
}
.caption{
	width: 100%;
	height: 30px;
	font-size: 16px;
	margin-top: 400px;
	margin-bottom: 15px;
	padding-left: 10px;
}
.discomment {
	text-align: center;
}
.home-comment{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
.content {
	width: 100%;
	height: auto;
	border-top: 3px solid grey;
}